@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900');

@font-face {
  font-family: "Aleo-Bold";
  src: url('../fonts/Aleo-Bold.otf') format("opentype");
}
@font-face {
  font-family: "Aleo-LightItalic";
  src: url('../fonts/Aleo-LightItalic.otf') format("opentype");
}

@media (min-width: 768px){
	#reqDemo .modal-dialog {
	    margin: 0px auto;
	}
}

.email {
  		background: url( '../img/butterflyrequestdemoform-email.svg' ) no-repeat;
  		background-position: 12px 50%;
  	}
  	.first-name {
  		background: url( '../img/butterflyrequestdemoform-user-1.svg' ) no-repeat;
  		background-position: 12px 50%;
  	}
  	.last-name {
  		background: url( '../img/butterflyrequestdemoform-user-1.svg' ) no-repeat;
  		background-position: 12px 50%;
  	}
  	.company-name {
  		background: url( '../img/butterflyrequestdemoform-company.svg' ) no-repeat;
  		background-position: 12px 50%;
  	}
  	.company-size {
  		background: url( '../img/butterflyrequestdemoform-people.svg' ) no-repeat;
  		background-position: 12px 50%;
  		text-indent: 40px;
  	}
  	.phone-num {
  		
  	}
  	  	
  	.our-demo-form .nf-field-element .demo-submit{
	  	width: 200px;
	  	height: 56px;
	  	border-radius: 32px;
	  	background-color: #532ee4;
		font-family : "Muli", Helvetica, Arial, serif;
		font-size: 24px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		padding: 0;
		text-align: center;
  	}
  	
  	.nf-form-fields-required{
	  	display: none;
  	}
/*
  	.our-demo-form {
    	padding-top: 11em;
	}
*/
	
	.our-demo-form .nf-field-container{
		margin-bottom: 10px;
	}
	
	.our-demo-form .nf-field-element input, 
	.our-demo-form .nf-field-element select, 
	.our-demo-form .nf-field-element textarea{
		font-family : "Muli", Helvetica, Arial, serif;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #9b9b9b;
		background-color: rgba(255, 255, 255, 1.0);
		height: 48px;
		box-sizing: border-box;
		border-radius: 24px;
		border-style: solid;
		border-width: 1px;
		border-color: rgba(0, 0, 0, 0.1);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		padding-left: 46px;
	}
	
	.our-demo-form .nf-field-element input:focus, 
	.our-demo-form .nf-field-element select:focus{
		outline: 0;
		border: 1px solid #532ee4;
	}
	.our-demo-form .nf-field-container.checkbox-container{
		padding: 0 0 5px;
		margin-bottom: 0;
	}
	.our-demo-form .nf-field-container.checkbox-container label{
		font-family : "Muli", Helvetica, Arial, serif;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #9b9b9b;
	}
	
	.our-demo-form .nf-field-container.company-size-container{
		font-family : "Muli", Helvetica, Arial, serif;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #9b9b9b;
		background-color: rgba(255, 255, 255, 1.0);
		height: 48px;
		box-sizing: border-box;
		border-radius: 24px;
		border-style: solid;
		border-width: 1px;
		border-color: rgba(0, 0, 0, 0.1);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		overflow: hidden;	
	}
	
	.our-demo-form .nf-field-container.company-size-container .company-size{
		border: 0;
	}
	.our-demo-form .nf-field-container.company-size-container:focus {
    	border: 1px solid #532ee4;
		outline: 0;
	}
	.nf-after-field .nf-error-msg, .nf-error-msg{display: none;}
	
	.our-demo-form .nf-field-container.heading-box {
    	padding-bottom: 11em;
	}
                        
.butterflyrequestdemoform {
/*   width               : 100%; */
/*   min-width           : 1200px; */
  height              : 100vh;
  min-height          : 800px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.butterflyrequestdemoform .tryfree {
  background-color    : rgba(255,255,255,0.0);
  top                 : -509px;
  height              : 1818px;
  max-width           : 1200px;
  width: 100%;
  position            : relative;
  margin              : 0 auto;
  left                : -462px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .bg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 509px;
  height              : 800px;
  width               : 800px;
  position            : absolute;
  margin              : 0;
  left                : 462px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44px;
  height              : 658px;
  width               : 397px;
  position            : absolute;
  margin              : 0;
  left                : 840px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
  opacity             : 0.05;
}
.butterflyrequestdemoform .tryfree .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : 1153px;
  width               : 397px;
  position            : absolute;
  margin              : 0;
  left                : 1378px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
  opacity             : 0.05;
}
.butterflyrequestdemoform .tryfree .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 647px;
  height              : 1207px;
  width               : 397px;
  position            : absolute;
  margin              : 0;
  left                : 369px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
  opacity             : 0.05;
}
.butterflyrequestdemoform .tryfree .brandingbutterflyicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 559px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 512px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .brandingbutterflyicon .bg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .brandingbutterflyicon .butterfly {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 28px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form {
  background-color    : rgba(255,255,255,0.0);
  top                 : 625px;
  height              : 626px;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 652px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .nicetomeetyou {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Aleo-Bold", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}
.butterflyrequestdemoform .tryfree .form .wecanu2019twaittosho {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : auto;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.butterflyrequestdemoform .tryfree .form .websiteformfield {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : 48px;
  width               : 532px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(83, 46, 228, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield .yourworkemail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : 486px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.butterflyrequestdemoform .tryfree .form .websiteformfield .iconclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield .iconclose .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield .iconclose .user {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : 48px;
  width               : 532px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield1 .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.1);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield1 .yourworkemail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : 486px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.butterflyrequestdemoform .tryfree .form .websiteformfield1 .iconclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield1 .iconclose .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield1 .iconclose .user {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 156px;
  height              : 48px;
  width               : 532px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield2 .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.1);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield2 .yourworkemail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : 486px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.butterflyrequestdemoform .tryfree .form .websiteformfield2 .iconclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield2 .iconclose .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield2 .iconclose .email {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 13px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 328px;
  height              : 48px;
  width               : 532px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield3 .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.1);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield3 .yourworkemail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : 486px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.butterflyrequestdemoform .tryfree .form .websiteformfield3 .iconclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield3 .iconclose .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield3 .iconclose .company {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 386px;
  height              : 48px;
  width               : 532px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield4 .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.1);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield4 .yourworkemail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : 486px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.butterflyrequestdemoform .tryfree .form .websiteformfield4 .iconclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield4 .iconclose .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield4 .iconclose .people {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 20px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .arrowcarrot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 407px;
  height              : 6px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 383px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 444px;
  height              : 48px;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield5 .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.1);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .websiteformfield5 .yourworkemail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : 385px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.butterflyrequestdemoform .tryfree .form .arrowcarrot1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 466px;
  height              : 6px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .a32 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 457px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.butterflyrequestdemoform .tryfree .form .rectangle3 {
  background-color    : rgba(83, 46, 228, 1.0);
  top                 : 570px;
  height              : 56px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .letu2019sgo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 582px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 900;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.butterflyrequestdemoform .tryfree .form .rectangle11 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 522px;
  height              : 16px;
  box-sizing          : border-box;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 1px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.1);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .form .keepmeupdatedonn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 521px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.butterflyrequestdemoform .tryfree .right {
  background-color    : rgba(255,255,255,0.0);
  top                 : 509px;
  height              : 800px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 1262px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .bg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.butterflyrequestdemoform .tryfree .right .iconclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 334px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .iconclose .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .iconclose .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  cursor: pointer;
}
.butterflyrequestdemoform .tryfree .right .separatorhorizontal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 463px;
  height              : 1px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .separatorhorizontal .bg2 {
  background-color    : rgba(255, 255, 255, 0.25);
  top                 : 0px;
  height              : 1px;
  width               : 240px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .u201cbutterflypowerrea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 508px;
  height              : auto;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Aleo-LightItalic", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.butterflyrequestdemoform .tryfree .right .benjaminsnyers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 694px;
  height              : auto;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.butterflyrequestdemoform .tryfree .right .managingdirectorat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 711px;
  height              : auto;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.butterflyrequestdemoform .tryfree .right .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 211px;
  height              : 206px;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .logo .gelogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 42px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .logo .cocacolalogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 29px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .logo .ticketmasterlogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : 18px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .logo .dentsulogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 91px;
  height              : 16px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .logo .ogilvylogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : 47px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .logo .livenation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 30px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoform .tryfree .right .wealreadyworkwith {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}