.thanks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "aleobold", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}
.yourinfoissafewi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : auto;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.tryfree .form .yourinfoissafewi .span1 {
  
}
.tryfree .form .yourinfoissafewi .span2 {
  color               : rgba(44, 230, 206, 1.0);
}
.tryfree .form .yourinfoissafewi .span3 {
  
}
.tryfree .form .backhome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 616px;
  height              : auto;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(44, 230, 206, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.tryfree .form .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 254px;
  height              : 212px;
  width               : 359px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tryfree .form .getourebookhowt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 349px;
  height              : auto;
  width               : 159px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.tryfree .form .getourebookhowt .span1 {
  line-height         : 20.0px;
}
.tryfree .form .getourebookhowt .span2 {
  font-size           : 18.0px;
  color               : rgba(58, 59, 87, 1.0);
  line-height         : 23.0px;
}
.tryfree .form .getourebookhowt .span3 {
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(58, 59, 87, 1.0);
  line-height         : 23.0px;
}
.butterflyrequestdemoformthanks .tryfree .right {
  background-color    : rgba(255,255,255,0.0);
  top                 : 439px;
  height              : 800px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 1262px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .bg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.butterflyrequestdemoformthanks .tryfree .right .iconclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 334px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .iconclose .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .iconclose .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .separatorhorizontal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 463px;
  height              : 1px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .separatorhorizontal .bg2 {
  background-color    : rgba(255, 255, 255, 0.25);
  top                 : 0px;
  height              : 1px;
  width               : 240px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .u201cbutterflypowerrea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 508px;
  height              : auto;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "aleolightitalic", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.butterflyrequestdemoformthanks .tryfree .right .benjaminsnyers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 694px;
  height              : auto;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.butterflyrequestdemoformthanks .tryfree .right .managingdirectorat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 711px;
  height              : auto;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.butterflyrequestdemoformthanks .tryfree .right .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 211px;
  height              : 206px;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .logo .gelogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 42px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .logo .cocacolalogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 29px;
  width               : 88px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .logo .ticketmasterlogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : 18px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .logo .dentsulogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 91px;
  height              : 16px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .logo .ogilvylogo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : 47px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .logo .livenation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 30px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyrequestdemoformthanks .tryfree .right .wealreadyworkwith {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 113px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.screenshot20190115at194659 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -70px;
  height              : 177px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : -150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}

@media (max-width: 767px) {
	.thanks{position: relative;}
	.yourinfoissafewi{position: relative; top:32px;}
}
@media (max-width: 480px) {
	.our-demo-form .caldera-grid .alert-success .thanks, 
	.our-demo-form .caldera-grid .alert-success .backhome,  
	.our-demo-form .caldera-grid .alert-success .yourinfoissafewi{
		width: auto;
		max-width: 70%;
	}
	.our-demo-form .caldera-grid .alert-success .getourebookhowt{
		width: 280px;
		max-width: 50%;
	}
	.tryfree .our-demo-form .caldera-grid .alert-success .getourebookhowt{
		top:315px;
		left: 0;
	}
	.our-demo-form .caldera-grid .alert-success .screenshot20190115at194659{
		top:0;
		left: 0;
		position: relative;
		margin: 0 0 10px;
	}
}