.affix {
  position: fixed;
  top: 0;
  width: 100%
}

.site-header{
	display: grid;
	grid-template-columns: 2fr 8fr 1fr;
// 	grid-template-columns: 2fr 5fr 1fr;
//  position: relative;
	padding-top: 2em;
}


.site-branding{
	
	img{ 
		width: 48px;
		height: 50px;
		&.custom-logo{margin-right: 1em;}
	}
	a{
		font-family: 'Muli', sans-serif;
		font-size: 18px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #3a3b57;
	}
}


.header-signin{
	line-height: 3.5;
		ul li {
		list-style-type: none;
		text-align: right;
		padding: 0 2em;
		a{
			font-family: 'Muli', sans-serif;
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: right;
			color: #fff;
		}
	}
}

.menu-bar{
  	width: 120px;
  	height: 40px;
  	border-radius: 28px;
  	background-color: #3a3b57;
  	text-align: left;
  	padding: 0 1em;
  	position: relative;
  	line-height: 40px;
//   	position: absolute;
//   	top:75px;
//   	right: 15px;
		a{
		  width: 48px;
		  height: 20px;
		  font-family: 'Muli', sans-serif;
		  font-size: 16px;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: 20px;
		  letter-spacing: normal;
		  color: #fff;
		  text-transform: uppercase;
		  padding: 0.5em 2em 0.5em 0;
		  .menu-icon-Combined-Shape {
			  width: 14px;
			  height: 13px;
			  object-fit: contain;
			  position: absolute;
			  right: 15px;
			  top:13px;
			}
		}
}


.mega-menu{
    width: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding: 10em;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.mega-menu-open{
	width: 1130px;
	height: 760px;
	visibility: visible;
	.close-icon-Combined-Shape {
	  width: 14px;
	  height: 13px;
	  object-fit: contain;
	  position: absolute;
	  right: 15px;
	  top:13px;
	}
}


@media (max-width: 991px){
	.site-header{
		grid-template-columns: 5fr 5fr 1fr;
	}
}
@media (max-width: 586px){
	.site-header{
		grid-template-columns: 4fr 5fr 1fr;
	}
}
@media (max-width: 544px){
	.site-header{
		grid-template-columns: 4fr 1fr;
		.header-signin{
			display: none;
		}
	}
}
@media (max-width: 320px){
	.site-header{
		grid-template-columns: 2fr 1fr;
	}
}
