.affix {
  //top: 0;
  //width: 100%;
  //background-color: #fff;
  z-index: 2;
  
  .site-branding {
    //padding-top: 0;
    position: relative;
    //top: -7px;
   }
  .header-signin{
  	.demo-form-box{ // need this code later
			display: block!important;
			border-radius: 5px;
// 			background-color: #fff;
			padding: 0;
		.input-group{
			padding-bottom: 0.5em;
			.form-control.demo-input{
				width: 360px;
				height: 40px;
				border-radius: 24px;
				box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
				background-color: #fff;
				font-family: 'Muli', sans-serif;
				font-size: 18px;
				color: #9b9b9b;
				font-weight: 300;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				border: 0;
				position: absolute;
				z-index: 1;
				right: 0;
				&:focus{
					z-index: 1;
					outline: 0;
				}
			}
			.btn.btn-default{
				width: 150px;
				height: 32px;
				border-radius: 28px;
				background-color: #532ee4;
				text-transform: uppercase;
				font-family: 'Muli', sans-serif;
				font-size: 13px;
				font-weight: 900;
				border: 0;
				color: #fff;
				position: relative;
				top:4px;
				right: 5px;
				z-index: 1;
				&:focus{
					outline: 0;
				}
			}
		}
	}
  	ul{
	  	display: none;
  	}
  }
}

.affix-home{
	width: 100%;
}

.affix .site-header {
    padding-top: 13px;
}

.site-header{
	display: grid;
	grid-template-columns: 3fr 12fr 1fr;
	padding-top: 50px;
	grid-column-gap: 10px;
	position: relative;
	z-index: 10;
	align-items: center;
	justify-content: center;
}


.site-branding{
	display: flex;
	align-items: center;
	img{ 
		width: 48px;
		height: 50px;
		&.custom-logo{margin-right: 20px;}
	}
	a{
		font-family: 'Muli', sans-serif;
		font-size: 18px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #3a3b57;
	}
}


.header-signin{
	line-height: 3.5;
	align-items: center;
		ul li {
			list-style-type: none;
			text-align: right;
			padding: 0 2em;
			font-family: 'Muli', sans-serif;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
		a{
			font-family: 'Muli', sans-serif;
			font-size: 14px;
			font-weight: 400;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: right;
			color: #fff;
			text-decoration: underline;
		}
	}
}

.site-header .menu-icon{
  	width: 120px;
  	height: 40px;
  	border-radius: 28px;
  	background-color: #3a3b57;
  	text-align: left;
  	position: relative;
  	line-height: 40px;
		.menu-bar{
		  width: 48px;
		  height: 20px;
		  font-family: 'Muli', sans-serif;
		  font-size: 16px;
		  font-style: normal;
		  font-stretch: normal;
		  letter-spacing: normal;
		  color: #fff;
		  text-transform: uppercase;
		  padding: 10px 53px 10px 19px;
		  .menu-icon-Combined-Shape {
			  width: 14px;
			  height: 13px;
			  object-fit: contain;
			  position: absolute;
			  right: 15px;
			  top:13px;
			}
		}
}


.mega-menu{
    &.mega-menu.modal{
		.mega-menu-top {
			display: grid;
			grid-template-columns: 12fr 1fr;
			align-items: center;
			justify-content: center;
		}
		.close-icon-Combined-Shape {
		  width: 14px;
		  height: 13px;
		}
	}
	.mega-menu-top {
		.mega-menu-logo img.custom-logo{
			width: 48px;
			height: 50px;
		}
		.mega-menu-close-icon a.menu-icon {
			font-family: "Muli", Helvetica, Arial, serif;
		    font-weight: 700;
		    font-style: normal;
		    font-size: 16.0px;
		    color: rgba(58, 59, 87, 1.0);
		    text-align: left;
			line-height: 20.0px;
		}
	}
	.dropdown-contents{
// 		max-width: 1000px;
		margin: 0 auto;
		padding: 3em 0 1.5em;
		.menu-main-menu-container{
			#primary-menu{ 
				display: grid;
				grid-template-columns: repeat(4, 250px);
				justify-content: center;
				li{ 
					text-align: center;
					a{
						font-family: 'aleobold', sans-serif;
						font-size: 36px;
						color: rgba(58, 59, 87, 1.0);
						line-height: 48.0px;
						letter-spacing: normal;
						text-align: center;
					}
					.sub-menu{
						padding-top: 20px;
						li a{
						 	font-family: 'Muli', sans-serif;
						 	font-size: 16px;
						 	font-weight: 400;
						 	font-style: normal;
						 	color: rgba(83, 46, 228, 1.0);
						 	line-height: 24px;
						}
					}
				}
			}
		}
		.demo-form{
			display: grid;
			grid-template-columns: 400px 1px 400px;
			justify-content: center;
			grid-column-gap:50px;
			padding: 5em;
			.demo-area{
				.demo-form-box{ // need this code later
					border-radius: 5px;
					background-color: #3a3b57;
					padding: 1.5em;
					h4{
						font-family: 'aleoregular';
						font-size: 20px;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #fff;
						text-align: left;
						margin: 0 0 1em;
					}
					.input-group{
						padding-bottom: 0.5em;
						.form-control.demo-input{
							/* width: 100%; */
							height: 48px;
							border-radius: 24px;
							box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
							background-color: #fff;
							font-family: 'Muli', sans-serif;
							font-size: 18px;
							color: rgba(155, 154, 155, 1.0);
							font-weight: 400;
							font-style: normal;
							font-stretch: normal;
							line-height: 23px;
							letter-spacing: normal;
							border: 0;
							position: absolute;
							padding: 6px 20px;
							&:focus{
								z-index: 2;
							}
						}
						.btn.btn-default{
							/* width: 150px; */
							height: 40px;
							border-radius: 28px;
							background-color: #2ce6ce;
							text-transform: uppercase;
							font-family: 'Muli', sans-serif;
							font-size: 13px;
							font-weight: 900;
							border: 0;
							color: rgba(255, 255, 255, 1.0);
							position: relative;
							top:4px;
							right: 5px;
							line-height: 16px;
							&:focus{
								outline: 0;
							}
						}
					}
				}
				.latest-blog-one{
					padding-top: 23px;
					h4{
						font-family: 'aleobold';
						font-size: 20px;
						font-style: normal;
						font-stretch: normal;
						line-height: 24px;
						letter-spacing: normal;
						color: rgba(85, 85, 85, 1.0);
						text-align: left;
						margin: 0;
					}
					.latest-blog{
						display: grid;
						grid-template-columns: 1fr 2fr;
						padding-top: 15px;
						.post-thumbnail img{
							width: 119.8px;
							height: 80px;
							border-radius: 5px;
						}
						
						.post-details{
							display: grid;
							align-items: center;
							justify-content: center;
							align-self: center;
							.post-meta a{
								font-family: 'Muli', sans-serif;
								font-size: 12px;
								font-weight: 400;
								font-style: normal;
								font-stretch: normal;
								line-height: 15px;
								letter-spacing: normal;
								color: rgba(155, 154, 155, 1.0);
								text-align: left;
							}
							.entry-title{
								font-family: 'Muli', sans-serif;
								font-size: 14px;
								font-weight: 700;
								font-style: normal;
								font-stretch: normal;
								line-height: 18.0px;
								letter-spacing: normal;
								margin: 10px 0;
								a{
									color: rgba(74, 73, 74, 1.0);
								}
							}
						}
					}
				}
			}
			.horizontal-line{
				width: 1px;
				height: 280px; // 100%
				background-color: rgba(0, 0, 0, 0.2);
				margin: auto;
			}
			.testimonial-area{
				padding: 2em 0;
				.testimonial-statements p{
					text-align: left;
					font-family: 'aleolightitalic';
					font-size: 20px;
					font-stretch: normal;
					line-height: 24px;
					letter-spacing: normal;
					color: rgba(85, 85, 85, 1.0);
				}
				.company-details{
					display: grid;
					grid-template-columns: 1fr 1fr 3fr;
					padding-top: 2em;
					.horizontal-line{
						height: 50px;
					}
					.person-details{
						display: grid;
						grid-template-rows:1fr 1fr;
						align-items: center;
						justify-content: left;
						align-self: center;
						p{
							margin: 0;
							&.person-name{
								font-family: 'Muli', sans-serif;
								font-size: 14px;
								font-weight: 700;
								font-style: normal;
								color: rgba(74, 73, 74, 1.0);
								line-height: 18.0px;
							}
							&.person-position{
								font-family: 'Muli', sans-serif;
								font-size: 12px;
								font-weight: 400;
								color: rgba(119, 119, 119, 1.0);
								line-height: 15.0px;
							}
						}
					}
				}
			}
		}
		.dropdown-signin {
			font-family: "Muli", Helvetica, Arial, serif;
			font-weight: 400;
			font-style: normal;
			font-size: 14.0px;
			color: rgba(74, 73, 74, 1.0);
			text-align: center;
			line-height: 18.0px;
			a{
				font-family: "Muli", Helvetica, Arial, serif;
				font-weight: 400;
				font-style: normal;
				font-size: 14.0px;
				color: rgba(44, 230, 206, 1.0);
				text-decoration: underline;
				text-align: center;
				line-height: 18.0px;
			}
		}
	}
}

.modal-lg {
	width: 100%;
    
    &.container-fluid{
	    margin: 0 auto;
	    padding: 20px;
    }
    
    .modal-header{
		border-bottom: 0;
	}
}
.mega-menu .modal-lg{}
.mega-menu.modal.in .modal-dialog{height: 100%;}
.mega-menu.modal.in .modal-content{ display: none;}
.mega-menu .modal-content .modal-header{
	padding: 30px 30px 0;
}

.home .affix .header-signin.hidden-xs {
    visibility: visible;
}

.affix .header-signin.hidden-xs {
    visibility: hidden;
}