body{
	&.page-template-product-page-php{
		
		.site-header{
			grid-column-gap:0;
			.header-signin{
				line-height: 3;
					ul {	
					text-align: left;
					height: 40px;
					width: 298px;
					float: right;
					background-color: #f8f8f8;
					border-radius: 20px 0px 0px 20px;
					position: relative;
					margin-right: -60px;
					li{
					  	color: #3a3b57;
					  	padding: 0 0 0 30px;
					  	display: inline-grid;
					  	a{
					  		color: #3a3b57;
					  		font-size: 16px;
					  		text-decoration: none;
					  	}
					  	&:last-child{
						  	padding: 0 0 0 15px;
					  	}
					}
				}
			}
			.menu-icon{
				width: 	153px;
			}
		}
		
		article{
			display: grid;
			justify-content: left;
			padding-bottom: 330px;
			.entry-header{
				display: grid;
				grid-template-columns: 1fr 1fr;
				padding-top: 70px;
				//background-image: url('../img/BGBlob2.svg');
				//background-position: top center;
				//background-repeat: no-repeat;
				//background-size: contain;
				//background-attachment: fixed;
			.entry-title{
				font-size: 48px;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				color: #3a3b57;
			}
		}
		.entry-content{
			padding-top: 70px;
			.how-it-works,
			.features{
				/* height: 100vh; */
				/* display: grid; */
				/* grid-template-columns: 1fr 4fr; */
				//background-image: url('../img/BGBlob2.svg');
    //background-position: top center;
    //background-repeat: no-repeat;
    //background-size: contain;
    //background-attachment: fixed;
				.for-people{
					ul{
						max-width: 661px;
						li{
							padding-right: 2em;
							a{
								font-family: 'Muli', sans-serif;
								font-size: 18px;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: normal;
								color: #532ee4;
								border: 0;
								border-radius: 0;
								padding: 20px 0;
								margin-right: 0;
								&:focus, &:hover{
									background-color: transparent;
								}
							}
							&.active{
								a{
									font-weight: 700;
									color: #3a3b57;
									border-bottom: 4px solid #532ee4;
									background-color: transparent;
								}
							}
							&.last{
								padding-right: 0!important;
							}
						}
					}
				}
			}
			.how-it-works h2,
			.features h2{
				font-family: 'Muli', sans-serif;
				font-size: 34px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #532ee4;
				margin: 0;
				line-height: 1.5;
			}
			.xx{
				display: grid;
			    grid-template-columns: 297px 430px;
			    align-content: center;
			    align-items:flex-start;
			    align-self: center;
			    justify-content: center;
			    text-align: left;
			    padding: 44px 49px;
			    grid-column-gap: 5em;
			    border-radius: 5px;
			    margin: 0 0 5em;
			    width: 950px;
				.one{
					max-width: 320px;
					h2{
						font-family: 'Muli', sans-serif;
						font-size: 18px;
						font-weight: 700;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #3a3b57;
						margin: 0 0 23px;
					}
					p{
						font-family: 'Muli', sans-serif;
						font-size: 16px;
						font-weight: 400;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #3a3b57;
						margin: 0 0 20px;
					}
					figcaption{
						font-family: 'aleoitalic';
						font-weight: 300;
	  					color: #9b9b9b;
					}
				}
				&:hover{
					box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
					background-color: rgba(255, 255, 255, 0.65);
					animation: pulse 1s;
				}	
			}
			.yy,
			.zz{
				display: grid;
				grid-template-columns: 297px 430px;
				align-content: center;
				align-items:flex-start;
				align-self: center;
				justify-content: center;
				text-align: left;
				padding: 44px 49px;
				grid-row-gap: 10em;
				grid-column-gap: 5em;
				width: 950px;
				.three, .five{
					max-width: 320px;
					h2{
						font-family: 'Muli', sans-serif;
						font-size: 18px;
						font-weight: 700;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #3a3b57;
						margin: 0 0 23px;
					}
					p{
						font-family: 'Muli', sans-serif;
						font-size: 16px;
						font-weight: 400;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #3a3b57;
						margin: 0 0 20px;
					}
					figcaption{
						font-family: 'aleoitalic';
						font-weight: 300;
	  					color: #9b9b9b;
					}
				}
				&:hover{
					box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
					background-color: rgba(255, 255, 255, 0.65);
					animation: pulse 1s;
				}
			}
		}	
		}	
	}
}


body.page-template-product-page-php .entry-content:before{
	background-image: url('../../../assets/home/img/butterflywebsitehome-bgblob1.svg');
		background-position: center center;
		background-repeat: no-repeat;
		content: " ";
	    display: block;
	    height: 658px;
	    position: absolute;
	    top: 2%;
	    left: 30%;
	    width: 397px;
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    opacity: 0.05; 
}
body.page-template-product-page-php .entry-content .howmang-contents:before{
	background-image: url('../../../assets/home/img/butterflywebsitehome-bgblob4.svg');
    background-position: center center;
	background-repeat: no-repeat;
	content: " ";
    display: block;
    height: 1207px;
    position: absolute;
    top: 20%;
    left: -5%;
    width: 397px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.05;
}
body.page-template-product-page-php .entry-content .howmang-contents:after{
	background-image: url('../../../assets/home/img/butterflywebsitehome-bgblog2.svg');
    background-position: center center;
	background-repeat: no-repeat;
	content: " ";
    display: block;
    height: 658px;
    position: absolute;
    top: 400px;
    right: -150px;
    width: 397px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.05;
}
body.page-template-product-page-php .entry-content .howmang-contents .zz:before{
	background-image: url('../../../assets/home/img/butterflywebsitehome-bgblog2.svg');
    background-position: center center;
	background-repeat: no-repeat;
	content: " ";
    display: block;
    height: 658px;
    position: absolute;
    top: 1200px;
    left: 30%;
    width: 397px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.05;
}

body.page-template-product-page-php .entry-content .features:before{
	background-image: url('../../../assets/home/img/butterflywebsitehome-bgblob4.svg');
    background-position: center center;
	background-repeat: no-repeat;
	content: " ";
    display: block;
    height: 1207px;
    position: absolute;
    top: 55%;
    left: 0;
    width: 397px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.05;
}

body.page-template-product-page-php .entry-content .features:after{
	background-image: url('../../../assets/home/img/butterflywebsitehome-bgblog2.svg');
    background-position: center center;
	background-repeat: no-repeat;
	content: " ";
    display: block;
    height: 658px;
    position: absolute;
    bottom: 70em;
    right: -200px;
    width: 397px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.05;
}

body.page-template-product-page-php .affix .header-signin ul{
	display: block;
}

body.page-template-product-page-php .entry-content .tab-content{
	margin: 70px 0;
}

body.page-template-product-page-php .entry-content .features .for-people ul {
    max-width: 575px;
}

body.page-template-product-page-php .entry-content .features .feathr-contents{
	display: grid;
    grid-template-columns: 1fr 5fr;
    align-content: center;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
    text-align: left;
    padding: 0 5em 0 2em;
    grid-column-gap: 5em;
}

body.page-template-product-page-php .entry-content .features .feathr-contents .tab-content{
	margin: 0;
}

body.page-template-product-page-php .entry-content .features .feathr-contents .feathr-accordion ul li p{
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #9b9b9b;
}
body.page-template-product-page-php .entry-content .features .for-people ul.nav.nav-pills.nav-stacked li.active{
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.65);
    position: absolute;
    height: 150px;
    padding: 27px 36px 27px 35px;
}

body.page-template-product-page-php .entry-content .features .for-people ul.nav.nav-pills > li{
	padding: 27px 36px 27px 35px;
	width: 300px;
	position: relative;
}

body.page-template-product-page-php .entry-content .features .for-people ul.nav.nav-pills .featured-info{
	position: relative;
	top:5em;
	margin-bottom: 6em;
	padding: 0 36px 0 35px;
}

body.page-template-product-page-php .entry-content .features .for-people ul.nav.nav-pills.nav-stacked li a{
	border-bottom: 0;
	padding: 0 0 10px;
}
body.page-template-product-page-php .entry-content .features .for-people ul.nav.nav-pills.nav-stacked li.active a{
	color: #532ee4;
}
body.page-template-product-page-php .entry-content .features .for-people .feathr-thumbnail{
	position: absolute;
	right: 0;
}