body{
	
	&.page-template-resources-page-php{
		.site-header{
			grid-column-gap:0;
			.header-signin{
				line-height: 3;
				ul {	
					text-align: left;
					height: 40px;
					width: 420px;
					float: right;
					background-color: #f8f8f8;
					border-radius: 20px 0px 0px 20px;
					position: relative;
					margin-right: -60px;
						&:first-child{
							padding: 0 0 0 28px;
						}
					li{
					  	color: #3a3b57;
					  	padding: 0 0 0 20px;
					  	display: inline-grid;
					  	a{
					  		color: #3a3b57;
					  		font-size: 16px;
					  		text-decoration: none;
					  	}
					  	&:first-child{
							padding: 0;
						}
					}
				}
			}
			.menu-icon{
				width: 	170px;
			}
		}
		article{
			display: grid;
			justify-content: center;
			padding-bottom: 330px;
		}
	}
}

body.page-template-resources-page-php .affix .header-signin ul{
	display: none;
}


.removeIcon path{
	fill:#532ee4;
	fill-opacity:1;
}