@media (min-width: 1670px) and (min-height: 900px){
	.section-one .home-carousel.col-lg-6{
		width: 40%;
	}
}
@media (min-width: 1201px){
	.container{
		width: 1200px;
		padding-left: 50px;
		padding-right: 50px;
		max-width: 1200px;
	}
}

@media (max-width: 1200px){
	.container{
		width: 1200px;
		max-width: 1200px;
		padding-left: 118px;
		padding-right: 118px;
	}
}
@media (max-width: 1199px){
	body.page-template-product-page-php .entry-content .features .for-people .feathr-thumbnail{
		position: relative;
	}
}

@media (min-width: 1200px){
	.affix-butterfly.affix-bottom{
		position: absolute;
		left:0;
		padding-left: 0;
	}
	.affix-butterfly.affix-top{
		position: absolute;
		left: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.affix-butterfly.affix{
		top:100px;
		width: 33.33333%;
		padding-right: 10em;
		padding-left: 0;
	}
}

@media (max-width: 991px){
	.why-butterfly .butterfly-two{
		position: relative;
	}
	.why-butterfly{
		height: 100%
	}
}

@media (max-width: 950px){
	.home-footer {
		padding-left: 0;
		.demo-area{
			grid-template-columns: none;
			grid-column-gap: 0;
			grid-row-gap: 2em;
			align-items: center;
			.demo-form-box{
				border-radius: 0;
				box-shadow: none;
				padding: 1em 30px 2em;
				background-color: transparent;
			}
			.latest-blog-one{
				padding-left: 30px;
				padding-right: 30px;
				.latest-blog{
					grid-template-columns: 1fr 2fr;
					grid-column-gap: 1em;
					grid-template-rows: 1fr;
				}
			}	
		}
	}
}
@media (min-width: 768px) {
	#reqDemo .modal-lg .butterflyrequestdemoform .tryfree{
	  	left: 0;
	  	right: 0;
	  	top:0;
	  	bottom: 0;
	  	margin: 0;
	  	max-height: 100%;
	  	height: 100vh;
	  	//.bg{
		// 	height: 100%;
		// 	width: 100%; 	
	  	//}
	  	brandingbutterflyicon{
		  	top:50px;
		  	left: 50px;
	  	}
	   	.form{
		   	top:116px;
		   	left: 190px;
		   	width: 420px;
		   	padding: 0;
		   	height: 100vh;
	   	}
	   	.right{
		   	top:0;
		   	right: 0;
		   	height: 100vh;
		   	min-height: 100%;
	   	}
	}
}


@media (max-width: 1080px){
	.why-butterfly .butterfly-two .butterfly-right-column{
		grid-column-gap:5em;
	}
	.home-testimonial{
		height: 100%;
	}
	.home-footer{
		//margin-top: 10em;
		//padding-left: 0;
	}
	.section-one .demo-request{z-index: 1}
}


@media (max-width: 1024px){
	/*Product page*/
	body.page-template-product-page-php article .entry-content .how-it-works .for-people ul li, 
	body.page-template-product-page-php article .entry-content .features .for-people ul li{
		float: none;
		display: block;
	}
	body.page-template-product-page-php article .entry-content .xx,
	body.page-template-product-page-php article .entry-content .yy,
	body.page-template-product-page-php article .entry-content .zz{
		grid-template-columns: 1fr;
		grid-column-gap:0;
		grid-row-gap:1em;
		max-width: 100%;
		padding: 1em;
		margin: 0 0 1em;
	}
	body.page-template-product-page-php article .entry-content .howmang-contents{
		grid-template-columns: 1fr;
		padding: 0;
		grid-row-gap:5em;
		grid-column-gap:0;
	}
	body.page-template-product-page-php .entry-content .tab-content{
		margin: 2em 0;
	}
	body.page-template-product-page-php article .entry-content .how-it-works .for-people ul, 
	body.page-template-product-page-php article .entry-content .features .for-people ul{
		max-width: 100vw;
	}
	body.page-template-product-page-php article{
		padding-bottom: 0;
	}
	body.page-template-product-page-php .entry-content .features .feathr-contents{
		padding: 0;
		grid-template-columns: 1fr;
	}
	body.page-template-product-page-php .entry-content .features .for-people .feathr-thumbnail{
		margin-top: 5em;
	}
	
	body.page-template-product-page-php article .entry-content .how-it-works .for-people ul li.abc, 
	body.page-template-product-page-php article .entry-content .features .for-people ul li.abc{
		float: left;
	}
	body.page-template-product-page-php .entry-content .features .for-people ul.nav.nav-pills .featured-info{
		max-width: 300px;
	}
	.container{
		padding-left: 90px;
		padding-right: 90px;
		width: auto;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}
	.site-header{grid-template-columns: 3fr 3fr 1fr;padding-top: 20px;}
	.content-area {
    	//padding-left: 70px;
    	//padding-right: 70px;
    	.section-one {
			.demo-request{
				//margin-top: 20em;
				h1, p{z-index: 1;}
			}
			
		}
		.client-logos{
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 5em;
			grid-column-gap:0;
			padding-bottom: 0;
		}
		.why-butterfly .butterfly-two .butterfly-right-column{
			padding: 5em 0;
		}
		.home-testimonial{
			justify-content: center;
			height: 50vh;
		}
	}
	.home-footer {
		.demo-area{
			grid-template-columns: 1fr 1fr;
			align-items: center;
			//grid-column-gap:1em;
			//padding: 0 35px;
			.latest-blog-one .latest-blog{
				grid-template-columns: 1fr;
				grid-column-gap: 0;
				grid-row-gap: 15px;
			}
		}
	}
	.mega-menu .modal-content .modal-header{
		padding: 20px;
	}
	.mega-menu.mega-menu.modal .mega-menu-top{
		//grid-template-columns:5fr 1fr;
	}
	.mega-menu .dropdown-contents .menu-main-menu-container #primary-menu{
		grid-template-columns: repeat(4, 1fr);
	}
	.mega-menu .dropdown-contents .demo-form{
		padding: 5em 0;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
	}
	.mega-menu .dropdown-contents .demo-form .horizontal-line{display: none;}
	
	.mega-menu .dropdown-contents .demo-form .testimonial-area .company-details{
		grid-template-columns: 1fr 1fr 5fr;
	}
	.mega-menu .dropdown-contents .demo-form .testimonial-area .company-details .horizontal-line{display: block;}
	
	.mega-menu .dropdown-contents .demo-form .demo-area .demo-form-box .input-group .form-control.demo-input{
		font-size: 16px;
	}
	.mega-menu .dropdown-contents .demo-form .demo-area .latest-blog-one .latest-blog{
		grid-column-gap:10px;
	}
	.mega-menu .dropdown-contents .demo-form .testimonial-area{
		padding: 0 2em;
	}
	.navbar-fixed-top{padding-right: 20px!important;}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .content-area {
	.section-one{
		.demo-request {
			//margin-top: 10em;
		}
		.home-carousel.col-md-7{
			//width: calc(100% - 42%);
		}
	}
	.client-logos{
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows:none;
	}
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	.home-carousel{width: 100%;}
}



@media (max-width: 768px){
	.section-one {
		.home-carousel.col-lg-7{
			max-width: 100%;
			width: 100%;
		}
	}
	body.page-template-product-page-php .entry-content .features:after{
		display: none;
	}
	.container{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media (min-width: 320px) and (max-width: 767px) {
  	.affix .site-branding { visibility: visible;}
  	
  	//body.page-template-product-page-php .affix{position: relative}
  	
  	.container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.site-header{
		grid-template-columns: 2fr 1fr;
		grid-column-gap: 0;
		padding-top: 20px;
	}
	.affix .site-header{
		grid-template-columns:2fr 1fr;
		padding-top: 10px;
	}
	.affix .site-branding{
		top:0;
	}
	

	body.page-template-product-page-php .content-area {
    	padding-left: 0;
    	padding-right: 0;
	}
		
	.section-one{
		//height: 100%;
		//grid-template-columns: none;
		//grid-template-rows: 1fr 0fr;
		//grid-column-gap:0;
	}
	.section-one .demo-request{
		//margin-top: 233px;
		z-index: 1;
	}
	.section-one .demo-request h1,
	.section-one .demo-request p{
		//z-index: 1;
	}
	//.section-one .demo-request p{width: 100%;margin: 15px 0 54px;}
	.section-one.home-padding{
		padding-bottom: 0;
		padding-top: 40em;
	}
	
	.section-one .home-carousel .swiper-container{
		left: 0;
		bottom: 0;
		overflow: hidden;
	}
	
	.section-one .demo-request .demo-form-box{
		//width: 100%;
	}
	.section-one .demo-request h1{
		//width: 100%;
		//font-size: 40px;
	}
	
	.client-logos{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 5em;
		grid-column-gap:0;
		padding-bottom: 0;
	}
	
	
	
	.why-butterfly{
		grid-template-columns: none;
		grid-template-rows: 1fr;
		padding-bottom: 83px;
		padding-top: 0;
	}
	.why-butterfly .butterfly-one{
		padding-top: 47px;
	}
	
	.why-butterfly .butterfly-two{
		background-image: none;
		padding-top: 43px;
	}
	.why-butterfly .butterfly-two .butterfly-right-column{
		grid-template-columns: none;
		padding: 0;
	}
	.why-butterfly .butterfly-two .butterfly-right-column .two, 
	.why-butterfly .butterfly-two .butterfly-right-column .three, 
	.why-butterfly .butterfly-two .butterfly-right-column .six {
    	text-align: center;
    }
	.home-testimonial{
		background-image: none;
		padding-top: 83px;
		justify-content: center;
	}
	.home-testimonial .testimonial-area .testimonial-statements,
	.home-testimonial .testimonial-area .testimonial-statements p{
		width: 100%;
		height: 100%;
		font-size: 24px;
		font-weight: 400;
		line-height: normal;
	}
	.home-testimonial .testimonial-area .company-details .person-details p.person-name{
		font-weight: 700;
	}
	
	.home-testimonial .testimonial-area{
		padding: 0;
	}
	.home-testimonial .testimonial-area .testimonial-statements{
		padding-right: 0;
	}
	.home-testimonial .testimonial-area .company-details{
		grid-template-columns: 1fr 1fr 2fr;
	}
	.home-footer .demo-area{
		background-image: none;
		grid-template-columns: none;
		grid-column-gap: 0;
		padding: 0;
		height: 100%;
		grid-row-gap: 2em;
		align-items: center;
		display: block;
	}
	.home-footer{
		//padding-top: 30px;
		//margin-top: 51px;
		//padding-bottom: 72px;
		padding-left: 0;
	}

	.home-footer .demo-area .demo-form-box{
		border-radius: 0;
		box-shadow:none;
		padding: 1em 30px 2em;
		background-color: transparent;
	}
	.home-footer .demo-area .latest-blog-one .latest-blog{
		grid-column-gap: 1em;
		grid-template-columns: 1fr 1fr;
	}
	.home-footer .demo-area .latest-blog-one{
		padding-left: 30px;
		padding-right: 30px;
	}
	.home-footer .demo-area .latest-blog-one .latest-blog .post-details .entry-title{
		width: 225px;
		height: 100%;
	}
	
	.mega-menu .dropdown-contents .menu-main-menu-container #primary-menu{
		grid-template-columns: repeat(2, 1fr);
	}
	.mega-menu .modal-body{padding: 15px 0;}
	.mega-menu .dropdown-contents .demo-form{
		padding: 5em 0 0;
		grid-template-columns: 100%;
		grid-column-gap: 0;
	}
	.mega-menu .dropdown-contents .demo-form .horizontal-line{display: none;}
	
	.mega-menu .dropdown-contents .demo-form .testimonial-area .company-details{
		grid-template-columns: 1fr 1fr 5fr;
	}
	.mega-menu .dropdown-contents .demo-form .testimonial-area .company-details .horizontal-line{display: block;}
	
	.mega-menu .dropdown-contents .demo-form .demo-area .demo-form-box .input-group .form-control.demo-input{
		font-size: 16px;
	}
	.mega-menu .dropdown-contents .demo-form .demo-area .latest-blog-one .latest-blog{
		grid-column-gap:10px;
	}
	
	
	//.section-one .demo-request h1{font-size: 42px; line-height: 1.14;}
	//.section-one .demo-request p{height: 100%;}
	.section-one .demo-request .demo-form-box .input-group .form-control.demo-input{
		font-size: 14px;
	}.section-one .demo-request .demo-form-box .input-group .btn.btn-default,
	.home-footer .demo-area .demo-form-box .input-group .btn.btn-default{
		font-size: 12px;
	}
	.home-footer .demo-area .demo-form-box .input-group .form-control.demo-input{
		font-size: 13px;
	}.home-footer .demo-area .latest-blog-one .latest-blog{
		grid-column-gap: 0;
		grid-template-columns: none;
		grid-template-rows: 1fr 1fr;
	}
	
  	.mega-menu.modal.fade.in .modal-lg.container-fluid{
	  	padding: 10px;
  	}
  	.mega-menu .dropdown-contents .demo-form .demo-area .demo-form-box{
	  	border-radius: 0;
  	}
}


@media (max-width: 767px){
	.navbar-fixed-top{padding-right: 20px!important;}
	
	body.page-template-product-page-php article .entry-header{
		grid-template-columns: 1fr;
	}
	body.page-template-product-page-php article{display: block;}
	
	.site-header{
		grid-template-columns: 5fr 1fr;
	}
	.affix .site-header{
		grid-template-columns: 5fr 1fr;
	}
	
	.client-logos{
		grid-template-columns: repeat(3, 1fr);
		align-self: baseline;
		grid-template-rows: 5em;
		padding-top: 0;
	}
	
	.why-butterfly .butterfly-two .butterfly-right-column{
		grid-template-columns: repeat(2, 1fr);
	}
	.home-footer .demo-area{
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
	
	.home-footer .demo-area .latest-blog-one{
		padding-left: 0;
		padding-right: 0;
	}	
	.home-footer .demo-area .demo-form-box .input-group .form-control.demo-input,
	.section-one .demo-request .demo-form-box .input-group .form-control.demo-input{
		font-size: 18px;
	}
	.home-footer .demo-area .latest-blog-one .latest-blog{
		grid-template-columns: 1fr 2fr;
		grid-column-gap: 1em;
		grid-template-rows: 1fr;
	}
	.home-footer .demo-area .latest-blog-one .latest-blog .post-details .entry-title{
		width: 100%;
	}
	.home-testimonial .testimonial-area .company-details{
		grid-template-columns: 2fr 1fr 4fr;
		padding-top: 34px;
	}
	body.page-template-product-page-php .entry-content .features .feathr-contents .tab-content{
		width: 100vw;
	}
	#blogDetailsOne .modal-dialog, 
	#caseStudyOne .modal-dialog{margin: 0 10px;}
	body.page-template-product-page-php .entry-content .features:before{display: none}
	.mega-menu .dropdown-contents .demo-form .demo-area .latest-blog-one,
	.mega-menu .dropdown-contents .demo-form .testimonial-area{
		padding-left: 20px;
		padding-right: 20px;
		max-width: 420px;
		margin: 0 auto;
	}
	.mega-menu .dropdown-contents .demo-form .testimonial-area .company-details{
		padding-top: 0;
	}
	.mega-menu .modal-content .modal-header{padding: 10px 10px 0;}
	.mega-menu.mega-menu.modal .mega-menu-top{
		//grid-template-columns: 5fr 1fr;
	}
}

@media (max-width: 706px){
	.home-footer .demo-area{
		grid-template-columns: none;
	}
	.home-footer .demo-area .demo-form-box{
		padding: 1em 0 2em;
	}
}

@media (max-width: 568px){	
	.site-header {
    	grid-template-columns: 4fr 1fr;
	}
	.affix .site-header {
    	grid-template-columns: 4fr 1fr;
	}
	
	.home-footer .demo-area .demo-form-box .input-group .form-control.demo-input,
	.section-one .demo-request .demo-form-box .input-group .form-control.demo-input{
		font-size: 18px;
	}
	.section-one .demo-request .demo-form-box .input-group .btn.btn-default, 
	.home-footer .demo-area .demo-form-box .input-group .btn.btn-default{
		font-size: 13px
	}
	.home-footer .demo-area .demo-form-box{
		padding: 1em 30px 2em;
	}
	.home-footer .demo-area .latest-blog-one{
		padding-left: 30px;
		padding-right: 30px;
	}
	.mega-menu-close-icon{text-align: right;}
	
	.mega-menu .dropdown-contents .demo-form .demo-area .latest-blog-one .latest-blog{
		grid-template-columns: 1fr 2fr;
	}
	.mega-menu.mega-menu.modal .modal-lg .mega-menu-top {
    	grid-template-columns: 1fr 1fr;
	}
	.mega-menu .dropdown-contents .demo-form .demo-area .demo-form-box .input-group .form-control.demo-input{
		font-size: 18px;
	}
	.mega-menu .dropdown-contents .demo-form .demo-area .demo-form-box .input-group .btn.btn-default{
		font-size: 13px;
	}
}
@media (max-width: 567px){
	//.section-one .demo-request p,
	//.section-one .demo-request h1,
	//.section-one .demo-request .demo-form-box{
	//	max-width: 100%;
	//}
	.section-one .demo-request h1{
		font-size: 40px;
	}
	.section-one .home-carousel{
		width: 100%;
	}
	.client-logos{
		padding-top: 40px;
	}
}
@media (max-width: 480px){
	.site-header {
    	grid-template-columns: 3fr 1fr;
	}
	.affix .site-header {
    	grid-template-columns: 3fr 1fr;
	}
	.section-one .demo-request p{margin: 37px 0 44px;}
	
	.why-butterfly .butterfly-two .butterfly-right-column{
		grid-template-columns: none;
		grid-row-gap: 59px;
	}
	body.page-template-product-page-php article .entry-content .how-it-works .for-people ul li a, 
	body.page-template-product-page-php article .entry-content .features .for-people ul li a{
		font-size: 14px;
	}
	body.page-template-product-page-php .entry-content .features .for-people ul.nav.nav-pills.nav-stacked li a{
		font-size: 18px;
	}
	
	body.page-template-product-page-php .entry-content .features .feathr-contents .tab-content,
	body.page-template-product-page-php article .entry-content .xx, 
	body.page-template-product-page-php article .entry-content .yy, 
	body.page-template-product-page-php article .entry-content .zz{
		width: 320px;
		padding: 1em 0;
	}
	
}

@media (max-width: 420px){
	.mega-menu .dropdown-contents .demo-form .demo-area .demo-form-box .input-group .form-control.demo-input{
		font-size: 16px;
	}
}
@media (max-width: 375px){
	.section-one .demo-request p{
		margin: 0; 
		padding: 37px 0 44px;
		height: 100%;
	}
	
	.section-one{ min-height: 100%;}
	.section-one .demo-request h1{
		margin-top: 130px;
		height: 100%;
	}
	
	
	
	.why-butterfly .butterfly-one .lead{
		padding-right: 1em;
		margin: 38px 0 32px;
	}
	
	.why-butterfly .butterfly-one h1{
		font-family: 'aleobold';
		font-size: 42px;
		line-height: 1.14;
	}
	
	.client-logos{padding-top: 47px;}
	
	.client-logos svg{
		max-width: 90%;
	}
	
	.mega-menu .dropdown-contents{padding: 2em 0;}
	.mega-menu .dropdown-contents .menu-main-menu-container #primary-menu{
		grid-template-columns: repeat(1, 1fr);
	}
	
	.mega-menu.mega-menu.modal .modal-lg .mega-menu-top{
		grid-template-columns: 1fr 1fr;
	}
	
	.mega-menu .dropdown-contents .demo-form .demo-area .demo-form-box .input-group .form-control.demo-input{
		font-size: 16px;
	}
	
	.mega-menu .dropdown-contents .demo-form .demo-area .demo-form-box .input-group .btn.btn-default{
		font-size: 10px;
		background-color: #532ee4;
	}
	
	.mega-menu .modal-content{overflow-y: hidden}
	
	.mega-menu .dropdown-contents .demo-form{padding: 1em 0 2em;}
	.mega-menu .dropdown-contents .demo-form .demo-area .latest-blog-one,
	.mega-menu .dropdown-contents .demo-form .testimonial-area,
	.mega-menu .dropdown-contents .menu-main-menu-container #primary-menu li .sub-menu li a{display: none;}
}
@media (max-width: 374px){
	.mega-menu .dropdown-contents .demo-form .demo-area .demo-form-box .input-group .form-control.demo-input{font-size: 13px;}

	.section-one .demo-request h1{
		margin-top: 70px;
		font-size: 35px;	
	}
	.section-one .demo-request .demo-form-box .input-group .form-control.demo-input{
		font-size: 16px;
	}
	
	.home-footer .demo-area .demo-form-box .input-group .form-control.demo-input{
		font-size: 14px;
	}
	.section-one .demo-request .demo-form-box .input-group .btn.btn-default,
	.home-footer .demo-area .demo-form-box .input-group .btn.btn-default{
		font-size: 12px;
	}
	body.page-template-product-page-php article .entry-content .how-it-works .for-people ul li.abc, 
	body.page-template-product-page-php article .entry-content .features .for-people ul li.abc{
		float: none;
	}
}