html{
	overflow-x: hidden;
}

body{
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: 400;
	background-color: transparent;
	scroll-behavior: smooth;
	position: relative;
	overflow: hidden;
}

a {
	color: rgba(83, 46, 228, 1.0);	
	outline: none;
	text-decoration: none;
  &:hover, &:focus, &:visited {
    outline: none;
    text-decoration: none;
  }
  &:visited{
	  color: rgba(83, 46, 228, 1.0);
  }
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li{
	  list-style-type: none;
  }
}

p{
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: 400;
}

strong, b{
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: 700;
	a{
		
	}
}

h1,h2,h3,h4,h5,h6{
	font-family: 'aleobold', sans-serif;
}

picture, img{
	max-width: 100%;
}

.container-fluid { 
	padding-left: 50px;
	padding-right: 50px;
} 

.modal-backdrop{
	background-color: #fff;
}
.site-content{
	height: 100%;
}


/*
.content-area{
	padding-left: 68px;
}
*/

.section-one{
	display: grid;
	grid-template-columns: 1fr; //480px 602px;
	align-items: center;
    justify-content: center;
    min-height: 100vh;
    grid-column-gap: 0;
    
    .demo-request{
	  //  display: grid;
		//align-items: center;
		//align-self: center;
	    h1{
		    margin: 0;
		    color: #3a3b57;
		    font-family: 'aleobold';
			font-size: 48px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			max-width: 480px;
			height: 144px;
	    }
	    p{
		    margin: 0;
		    font-family: 'Muli', sans-serif;
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			color: #3a3b57;
			max-width: 372px;
			height: 69px;
			margin: 56px 0 54px;
	    }
    
		.demo-form-box{ // need this code later
			border-radius: 5px;
			//background-color: #fff;
			padding: 0;
			max-width: 396px;
			height: 48px;
		.input-group{
			padding-bottom: 0.5em;
			border-radius: 24px;
			box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
			.form-control.demo-input{
				/* width: 100%; */
				height: 48px;
				border-radius: 24px;
				box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
				background-color: #fff;
				font-family: 'Muli', sans-serif;
				font-size: 18px;
				color: #9b9b9b;
				font-weight: 300;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				border: 0;
				position: absolute;
				z-index: 1;
				&:focus{
					z-index: 1;
					outline: 0;
				}
			}
			.btn.btn-default{
				/* width: 150px; */
				height: 40px;
				border-radius: 28px;
				background-color: #532ee4;
				text-transform: uppercase;
				font-family: 'Muli', sans-serif;
				font-size: 13px;
				font-weight: 900;
				border: 0;
				color: #fff;
				position: relative;
				top:4px;
				right: 5px;
				z-index: 1;
				line-height: 16px;
				&:focus{
					outline: 0;
				}
			}
		}
	}
	}
	.home-carousel{ 
		position: absolute;
		right: 0px;
		top: 0px;
		padding-right: 0;
		//height: calc(100vh - 8%);
		.slick-slider{
			display: grid;
			svg{
				float:right;
				position: relative;
				//width: 95%;
			}
		}
	}
}


.client-logos{
	display: grid;
	grid-template-columns:42px 88px 128px 76px 64px 158px;
	align-items: center;
    justify-content: center;
    align-self: auto;
	//padding-right: 137px;
	//padding-left: 70px;
	padding-top: 40px;
	padding-bottom: 40px;
	grid-column-gap:64px;
}



.why-butterfly{
    //padding-top: 10em;
    position: relative;
    //min-height: 100vh;
    //overflow: hidden;
    .butterfly-one{
	    h1{
			font-family: 'aleoregular';
			font-size: 48px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			color: #3a3b57;	    
	    }
	    .lead{
		    	font-size: 18px;
		    	margin: 32px 0;
		    p{
			   	font-family: 'Muli', sans-serif;
				font-size: 18px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #3a3b57; 
		    }
	    }
	    .why-butterfly-contents{
		    padding-bottom: 1em;
		    p{
			    font-family: 'Muli', sans-serif;
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #3a3b57;
				margin: 0 0 20px;
				a{
					color: #2ce6ce;
				}
		    }
		 }
		 a{
		    color: #2ce6ce;
	    }
    }
    .butterfly-two {
	    float: right;
    		.butterfly-right-column{
			    display: grid;
			    grid-template-columns:repeat(2,1fr);
			    align-content: center;
				align-items: center;
				align-self: center;
				justify-content: center;
				text-align: center;
				//padding: 10em 0 0 117px;
				padding: 5em;
				grid-row-gap:5em;
			.two, .three, .six{
				text-align: left;
			h2{
				font-family: 'aleobold';
				font-size: 24px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 1;
				letter-spacing: normal;
				color: #532ee4;
				margin: 0;
			}
			.strong{
				font-family: 'Muli', sans-serif;
				font-size: 18px;
				font-weight: 400;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				color: #3a3b57;
			}
			p{
				font-family: 'Muli', sans-serif;
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #9b9b9b;
				margin: 9px 0;
			}
			a{
				font-family: 'Muli', sans-serif;
				font-size: 14px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #2ce6ce;
			}
		}
    }
    }
    &:before{
	   	background-image: url('../../../assets/home/img/butterflywebsitehome-bgblob1.svg');
		background-position: center center;
		background-repeat: no-repeat;
		content: " ";
	    display: block;
	    height: 658px;
	    position: absolute;
	    top: -5em;
	    left: 38%;
	    width: 397px;
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    opacity: 0.05; 
    }
}
.home-testimonial{
	display: grid;
	align-items: center;
	justify-content: center;
	align-self: center;
	//height: 1000px;
	min-height: 50vh;
	clear: both;
	padding-top: 201px;
	padding-bottom: 226px;
	.testimonial-area{
		//padding-left: 109px;
		.testimonial-statements{ 
			//padding-right: 5em;
			p{
				text-align: left;
				font-family: 'aleolightitalic';
				font-size: 32px;
				font-weight: 400;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #555555;
				max-width: 600px;
				height: 156px;
			}
		}
		.company-details{
			display: grid;
			grid-template-columns: 1fr 1fr 5fr;
			padding-top: 10px;
			.company-logo{
				align-self: center;
			}
			.horizontal-line{
				width: 1px;
				height: 50px;
				margin: auto;
				background-color: rgba(0,0,0,0.2);
			}
			.person-details{
				display: grid;
				grid-template-rows:1fr 1fr;
				align-items: center;
				justify-content: left;
				align-self: center;
				p{
					margin: 0;
					&.person-name{
						font-family: 'Muli', sans-serif;
						font-size: 14px;
						color: #4a4a4a;
						line-height: 1;
					}
					&.person-position{
						font-family: 'Muli', sans-serif;
						font-size: 12px;
						color: #777;
					}
				}
			}
		}
	}
	&:before{
	    background-image: url('../../../assets/home/img/butterflywebsitehome-bgblob4.svg');
	    background-position: center center;
		background-repeat: no-repeat;
		content: " ";
	    display: block;
	    height: 1207px;
	    position: absolute;
	    top: 14em;
	    left: 12em;
	    width: 397px;
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    opacity: 0.05;
	    z-index: -1;
    }
    &:after{
	    background-image: url('../../../assets/home/img/butterflywebsitehome-bgblob4.svg');
	    background-position: center center;
		background-repeat: no-repeat;
		content: " ";
	    display: block;
	    height: 1207px;
	    position: absolute;
	    bottom: -18em;
	    left: -7em;
	    width: 397px;
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    opacity: 0.05;
	    z-index: -1;
    }
}
.home-footer{ 
	padding-top: 89px;
	padding-bottom: 90px;
	padding-left: 132px;
	background-color: rgba(255, 247, 244, 0.75);
		.demo-area{
			display: grid;
			grid-template-columns: 400px 540px;
			grid-column-gap:101px;
			align-items: end;
			justify-content: center;
			align-self: center;
		.demo-form-box{ // need this code later
			background-color: #fff;
			padding: 16px 20px 21px;
			border-radius: 5px;
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
			h4{
				font-family: 'aleoregular';
				font-size: 20px;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #3a3b57;
				text-align: left;
				margin: 0 0 1em;
			}
			.input-group{
				padding-bottom: 0.5em;
				border-radius: 24px;
				box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
				.form-control.demo-input{
					height: 48px;
					border-radius: 24px;
					box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
					background-color: #fff;
					font-family: 'Muli', sans-serif;
					font-size: 18px;
					color: #9b9b9b;
					font-weight: 300;
					font-style: normal;
					font-stretch: normal;
					line-height: normal;
					letter-spacing: normal;
					border: 0;
					position: absolute;
					z-index: 1;
					&:focus{
						z-index: 1;
						outline: 0;
					}
				}
				.btn.btn-default{
					height: 40px;
					border-radius: 28px;
					background-color: #532ee4;
					text-transform: uppercase;
					font-family: 'Muli', sans-serif;
					font-size: 13px;
					font-weight: 900;
					border: 0;
					color: #fff;
					position: relative;
					top:4px;
					right: 5px;
					z-index: 1;
					&:focus{
						outline: 0;
					}
				}
			}
		}
		.latest-blog-one{
			padding-top: 0;
			h4{
				font-family: 'aleobold';
				font-size: 20px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #3a3b57;
				margin: 0;
			}
			.latest-blog{
				display: grid;
				grid-template-columns: 1fr 4fr;
				padding-top: 15px;
				grid-column-gap:20px;
				.post-thumbnail img{
					width: 120px;
					height: 83px;
					border-radius: 5px;
				}
				
				.post-details{
					display: grid;
					align-items: center;
					justify-content: left;
					align-self: center;
					.post-meta a{
						font-family: 'Muli', sans-serif;
						font-size: 12px;
						font-weight: 300;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						color: #9b9b9b;
					}
					.entry-title{
						font-family: 'Muli', sans-serif;
						font-size: 14px;
						font-weight: bold;
						font-style: normal;
						font-stretch: normal;
						line-height: normal;
						letter-spacing: normal;
						margin: 10px 0;
						width: 260px;
						height: 36px;
						a{
							color: #4a4a4a;
						}
					}
				}
			}
		}
	}
}
.content-area.default-page {
    min-height: 300px;
    height: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    h1,p,li{
	    color: #3a3b57;
    }
    h1{
	    font-family: 'aleobold';
		font-size: 48px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: normal;
    }
    p{
	    font-family: 'Muli', sans-serif;
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
    }
    article .entry-content{
	    max-width: 800px;
    }
}