.fw-option-type-upload.images-only .thumb,
.fw-option-type-multi-upload.images-only .thumb {
	width: 80px!important;
	height: 80px!important;
	border: 1px solid #ccc;
    padding: 5px;
}
.fw-option-type-multi-upload.images-only .thumb a{
	font-size: 20px!important;
	top:-10px!important;
	right: 2px!important;
}
