.butterflyblogpost {
  min-height          : 2400px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}

a {
  text-decoration     : none;
  cursor: pointer;
}

.butterflyblogpost .casestudy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100vh;
  width               : 100vw;
  position            : relative;
  margin              : 0 auto;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .bg {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 800px;
  width               : 800px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .brandingbutterflyicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 50px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .brandingbutterflyicon .bg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .brandingbutterflyicon .butterfly {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 28px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : 2141px;
  width               : 900px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .content .workroam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}

.butterflyblogpost .casestudy .content .workroam a{
	color               : rgba(58, 59, 87, 1.0);
}

.butterflyblogpost .casestudy .content .theremoteworkinge {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : auto;
  width               : 50%;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Aleo-Bold", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 40.0px;
}
.butterflyblogpost .casestudy .content .inournewseriesw {
  background-color    : rgba(255,255,255,0.0);
  top                 : 196px;
  height              : auto;
  width               : 416px;
  position            : relative;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .content .lisbon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 263px;
  height              : 553px;
  width               : 900px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}


.butterflyblogpost .casestudy .content .featured-img img{
	border-radius: 0 50% 50% 0;
}

.butterflyblogpost .casestudy .content .lisbon .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 553px;
  width               : 900px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .content .lisbon .lisbon1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -24px;
  height              : 600px;
  width               : 900px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .content .locationlisbonpo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 979px;
  height              : auto;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}

.butterflyblogpost .casestudy .content .post-contents{
	font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 20.0px;
  top                 : 350px;
  height              : auto;
  width               : 80%;
  position            : relative;
  margin              : 0;
  left                : 154px;
}
.butterflyblogpost .casestudy .content .post-contents h3,
.butterflyblogpost .casestudy .content .post-contents h4,
.butterflyblogpost .casestudy .content .post-contents h5,
.butterflyblogpost .casestudy .content .post-contents h6{
	line-height: 1.3;
	margin: 0 0 25px;
}

.butterflyblogpost .casestudy .content .post-contents p{
	margin: 0 0 50px;
}

.butterflyblogpost .casestudy .content .post-contents img{
	margin: 2em 0;
}

.butterflyblogpost .casestudy .content .post-contents figcaption,
.butterflyblogpost .casestudy .content .post-contents .wp-caption-text{
	font-family: "Muli", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(155, 154, 155, 1.0);
    text-align: left;
    line-height: 18.0px;
    position: relative;
    top:0;
    padding-bottom: 3em;
    left:345px!important;
}

.butterflyblogpost .casestudy .content .post-contents figcaption:before{
	content: " ";
	position: absolute;
	left: -30px;
    background-color: rgba(0, 0, 0, 0.2);
    top: -5px;
    height: 70px;
    width: 1px;
    margin: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.butterflyblogpost .casestudy .content .locationlisbonpo .span1 {
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .content .locationlisbonpo .span2 {
  font-size           : 24.0px;
  line-height         : 30.0px;
}
.butterflyblogpost .casestudy .content .ihearitu2019sbeencol {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1177px;
  height              : auto;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .content .johnparma {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1351px;
  height              : 367px;
  width               : 550px;
  position            : absolute;
  margin              : 0;
  left                : 83px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .content .seperatorvertical {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1756px;
  height              : 80px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 348px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .content .seperatorvertical .rectangle {
  background-color    : rgba(0, 0, 0, 0.2);
  top                 : 0px;
  height              : 80px;
  width               : 1px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .content .sinceiu2019vebeentrav,
.butterflyblogpost .casestudy .content figcaption {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1765px;
  height              : auto;
  width               : 265px;
  position            : absolute;
  margin              : 0;
  left                : 368px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(155, 154, 155, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.butterflyblogpost .casestudy .content .locationitalypar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1883px;
  height              : auto;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.butterflyblogpost .casestudy .content .locationitalypar .span1 {
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .content .locationitalypar .span2 {
  font-size           : 24.0px;
  line-height         : 30.0px;
}
.butterflyblogpost .casestudy .content .thanksgivingwasthu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2081px;
  height              : auto;
  width               : 416px;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .right {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100vh;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  right:0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 2400px;
  width               : 260px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.butterflyblogpost .casestudy .right .iconclose {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .iconclose .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .iconclose .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  cursor: pointer;
}
.butterflyblogpost .casestudy .right .date12142018 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 222px;
  position            : relative;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 0.5);
  text-align          : left;
  line-height         : 12.0px;
}
.butterflyblogpost .casestudy .right .date12142018 .span1 {
  line-height         : 15.0px;
}
.butterflyblogpost .casestudy .right .date12142018 .span2 {
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .right .date12142018 .span3 {
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  line-height         : 23.0px;
}
.butterflyblogpost .casestudy .right .separatorhorizontal {
  background-color    : rgba(255,255,255,0.0);
  top                 : 171px;
  height              : 1px;
  width               : 220px;
  position            : relative;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .separatorhorizontal .bg1 {
  background-color    : rgba(255, 255, 255, 0.25);
  top                 : 0px;
  height              : 1px;
  width               : 220px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .categoryworkroam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : auto;
  width               : 222px;
  position            : relative;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 0.5);
  text-align          : left;
  line-height         : 12.0px;
}
.butterflyblogpost .casestudy .right .categoryworkroam .span1 {
  line-height         : 15.0px;
}
.butterflyblogpost .casestudy .right .categoryworkroam .span2 {
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .right .categoryworkroam .span3 {
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  line-height         : 23.0px;
}

.butterflyblogpost .casestudy .right .categoryworkroam .span3 a{
	color               : rgba(255, 255, 255, 1.0);
}

.butterflyblogpost .casestudy .right .separatorhorizontal1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 239px;
  height              : 1px;
  width               : 220px;
  position            : relative;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .separatorhorizontal1 .bg1 {
  background-color    : rgba(255, 255, 255, 0.25);
  top                 : 0px;
  height              : 1px;
  width               : 220px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .tagsworklifebalan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 256px;
  height              : auto;
  width               : 222px;
  position            : relative;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 0.5);
  text-align          : left;
  line-height         : 12.0px;
}
.butterflyblogpost .casestudy .right .tagsworklifebalan .span1 {
  line-height         : 15.0px;
}
.butterflyblogpost .casestudy .right .tagsworklifebalan .span2 {
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .right .tagsworklifebalan .span3 {
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  line-height         : 23.0px;
}
.butterflyblogpost .casestudy .right .separatorhorizontal2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 356px;
  height              : 1px;
  width               : 220px;
  position            : relative;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .separatorhorizontal2 .bg1 {
  background-color    : rgba(255, 255, 255, 0.25);
  top                 : 0px;
  height              : 1px;
  width               : 220px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .authorjohnwilliams {
  background-color    : rgba(255,255,255,0.0);
  top                 : 373px;
  height              : auto;
  width               : 222px;
  position            : relative;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 0.5);
  text-align          : left;
  line-height         : 12.0px;
}
.butterflyblogpost .casestudy .right .authorjohnwilliams .span1 {
  line-height         : 15.0px;
}
.butterflyblogpost .casestudy .right .authorjohnwilliams .span2 {
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .right .authorjohnwilliams .span3 {
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  line-height         : 23.0px;
}
.butterflyblogpost .casestudy .right .separatorhorizontal3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 429px;
  height              : 1px;
  width               : 220px;
  position            : relative;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .separatorhorizontal3 .bg1 {
  background-color    : rgba(255, 255, 255, 0.25);
  top                 : 0px;
  height              : 1px;
  width               : 220px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .share {
  background-color    : rgba(255,255,255,0.0);
  top                 : 446px;
  height              : auto;
  width               : 222px;
  position            : relative;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 0.5);
  text-align          : left;
  line-height         : 15.0px;
}
.butterflyblogpost .casestudy .right .share1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 477px;
  height              : 16px;
  width               : 169px;
  position            : relative;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .share1 .facebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .share1 .instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .share1 .link {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .share1 .linkedin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 16px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .share1 .twitter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 13px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .nextbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2189px;
  height              : 182px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .nextbutton .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 182px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .nextbutton .iconsarrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 142px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .nextbutton .iconsarrow .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .nextbutton .iconsarrow .arrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 9px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.butterflyblogpost .casestudy .right .nextbutton .nextuptheremotew {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Muli", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(58, 59, 87, 1.0);
  text-align          : left;
  line-height         : 12.0px;
}
.butterflyblogpost .casestudy .right .nextbutton .nextuptheremotew .span1 {
  line-height         : 15.0px;
}
.butterflyblogpost .casestudy .right .nextbutton .nextuptheremotew .span2 {
  font-size           : 16.0px;
  line-height         : 20.0px;
}
.butterflyblogpost .casestudy .right .nextbutton .nextuptheremotew .span3 {
  font-size           : 19.0px;
  color               : rgba(44, 230, 206, 1.0);
  line-height         : 24.0px;
}

@media (min-width: 320px){
	.blogDetailsTwo.in .modal-dialog,
	.blogDetailsOne.in .modal-dialog {
	    margin: 0px 20px 0 0;
	}
}

@media (max-width: 1170px){
	.butterflyblogpost .casestudy .brandingbutterflyicon{
		left: 50px;
	}
	
	.butterflyblogpost .casestudy .content{
		position: relative;
		width: 100%;
		left: 50px;
		max-width: 50%;
	}
	
	.butterflyblogpost .casestudy .content .featured-img{
		width: 100%;
		height: 350px;
		overflow: visible;
		position: relative;
	}
	.butterflyblogpost .casestudy .content .featured-img img{
		position: relative!important;
		width: auto!important;
		height: auto!important;
	}
	.butterflyblogpost .casestudy .content .theremoteworkinge{
		position: relative;
		left: 0;
		height: auto;
		width: 100%;
		font-size: 30px;
		line-height: 30px;
	}
	.butterflyblogpost .casestudy .content .inournewseriesw{
		left: 0;
		padding-right: 2em;
		width: 100%;
		height: auto;
	}.butterflyblogpost .casestudy .content .post-contents,
	.butterflyblogpost .casestudy .content .locationlisbonpo,
	.butterflyblogpost .casestudy .content .ihearitu2019sbeencol,
	.butterflyblogpost .casestudy .content .locationitalypar,
	.butterflyblogpost .casestudy .content .thanksgivingwasthu{
		left: 0;
		width: 100%;
	}
	.butterflyblogpost .casestudy .content .johnparma{
		width: auto;
		height: auto;
		left: 0;
		padding-right: 3em;
	}
	.butterflyblogpost .casestudy .content .seperatorvertical{
		left: 0;
	}
	.butterflyblogpost .casestudy .content .sinceiu2019vebeentrav{
		left: 10px;
	}
}

@media (max-width: 767px){
	
	.butterflyblogpost .casestudy .content{
		max-width: 90%;
	}
	.butterflyblogpost .casestudy .content .post-contents,
	.butterflyblogpost .casestudy .content,
	.butterflyblogpost .casestudy .brandingbutterflyicon,
	.butterflyblogpost .casestudy .content .theremoteworkinge,
	.butterflyblogpost .casestudy .content .inournewseriesw,
	.butterflyblogpost .casestudy .content .locationlisbonpo,
	.butterflyblogpost .casestudy .content .ihearitu2019sbeencol,
	.butterflyblogpost .casestudy .content .locationitalypar,
	.butterflyblogpost .casestudy .content .thanksgivingwasthu,
	.butterflyblogpost .casestudy .content .johnparma,
	.butterflyblogpost .casestudy .content .seperatorvertical{
		left: 0;
	}
	.butterflyblogpost{
		min-height: 4750px;
	}
	.butterflyblogpost .casestudy .right{
		left: 0;
		top:2314px;
	}
	.butterflyblogpost .casestudy .right .mask{
		left: 0;
	}
	.butterflyblogpost .casestudy .content .workroam{
		width: auto;
		left: auto;
		right: 20px;
	}
}
@media (max-width: 660px){
	.butterflyblogpost .casestudy .content .post-contents figcaption, 
	.butterflyblogpost .casestudy .content .post-contents .wp-caption-text{
		left: 145px!important;
	}
}

@media (max-width: 480px){
	.butterflyblogpost .casestudy .content .post-contents figcaption, 
	.butterflyblogpost .casestudy .content .post-contents .wp-caption-text{
		left: 30px!important;
	}
	.butterflyblogpost .casestudy .right{
		top: 2514px;
	}
	.butterflyblogpost{
		min-height: 4850px;
	}
	.butterflywebsiteblog .takeasneakpeekof h1{
		font-size: 36px;
		line-height: 36px;
	}
}

@media (max-width: 359px){
	.butterflywebsiteblog .takeasneakpeekof h1{
		font-size: 30px;
		line-height: 30px;
	}
}